<div class="row">
    <div class="col-md-12">
        <div class="card p-3">
            <table class="table table-bordered table-striped" width="100%" border="1" style="border-collapse: collapse;">
                <thead class="thead-dark">
                <tr style="border-bottom-color: #dbdee34a !important;">
                    <th colspan="7" class="text-center">
                        {{ 'Unrecognised Report' }}
                    </th>
                </tr>
                <tr>
                    <th colspan="7" class="text-center">{{'Bank Transaction Report ('~accountType~')' }}</th>
                </tr>
                <tr>
                    {% if startDate is defined and endDate is defined %}
                        <th colspan="7" class="text-center">{{'('~startDate|date('d-M-Y')~' to '~endDate|date('d-M-Y')~')' }}</th>
                    {% endif %}
                </tr>
                <tr>
                    <th>{{ 'SL No'|trans }}</th>
                    <th width="10%" >{{ 'Date'|trans }}</th>
                    <th>{{ 'Bank Name'|trans }}</th>
                    <th>{{ 'Bank Code'|trans }}</th>
                    <th>{{ 'Branch'|trans }}</th>
                    <th>{{ 'Bank Value'|trans }}</th>
                    <th>{{ 'District'|trans }}</th>
                </tr>
                </thead>

                <tbody>

                {% if data is defined and data is not empty %}
                    {% set totalAmount = 0 %}
                    {% for statement in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if statement.transactionDate is not empty %}
                                    {{ statement.transactionDate|date('d-M-Y')}}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.BankName is not empty %}
                                    {{ statement.BankName }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.accountCode is not empty %}
                                    {{ statement.accountCode }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.branchName is not empty %}
                                    {{ statement.branchName }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.deposit is not empty %}
                                    {{ statement.deposit|number_format(0, '.', ',') }}
                                    {% set totalAmount = totalAmount + statement.deposit %}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.districtName is not empty %}
                                    {{ statement.districtName }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="5">Total</th>
                        <th style="text-align: right">{{ totalAmount|number_format(0, '.', ',') }}</th>
                    </tr>
                {% endif %}

                </tbody>

            </table>
            {#                {% if data is defined and data is not empty %}#}

            {#                    <div class="row">#}
            {#                        <div class="col-md-3">#}
            {#                            <div class="count">#}
            {#                                Total Records: {{ data.getTotalItemCount }}#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <div class="col-md-9 navigation" style="padding-right: 0;">#}
            {#                            {{ knp_pagination_render(data) }}#}
            {#                        </div>#}
            {#                    </div>#}
            {#                {% endif %}#}
        </div>
    </div>
</div>