{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>SMS Convert List</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('br_sms_convert_create') }}" class="btn btn-sm green-bg white-font"><i class="fas fa-plus"></i>Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card p-3">
                <table class="table table-bordered table-striped" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ 'S/N'|trans }}</th>
                        <th>{{ 'Depot'|trans }}</th>
                        <th>{{ 'Agent Name'|trans }}</th>
                        <th>{{ 'Agent Mobile'|trans }}</th>
                        <th>{{ 'Type'|trans }}</th>
                        <th>{{ 'Amount'|trans }}</th>
                        <th>{{ 'Bank Name'|trans }}</th>
                        <th>{{ 'Branch Name'|trans }}</th>
                        <th>{{ 'Transaction Date'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if data is defined and data is not empty %}
                        {% set offset = data.getItemNumberPerPage * (data.currentPageNumber - 1) %}

                        {% for smsconvert in data %}
                            <tr {% if smsconvert.isReconciliation == 1 %} style="background-color: #b7f7b7 !important;" {% endif %}>
                                <td>{{ loop.index + offset }}</td>
                                <td>{{ smsconvert.depotName }}</td>
                                <td>{{ smsconvert.agentName|default('') }} ({{ smsconvert.upozilaName~'-'~smsconvert.districtName }})</td>
                                <td>{{ smsconvert.mobile|default('') }}</td>
                                <td>{{ smsconvert.type|default('') }}</td>
                                <td align="right">{{ smsconvert.amount|number_format(2)|default('') }}</td>
                                <td>{{ smsconvert.bankName|default('') }}</td>
                                <td>{{ smsconvert.branchName|default('') }}</td>
                                <td>{{ smsconvert.transactionDate|date('d-M-Y')}}</td>
                                <td>
                                    {% if smsconvert.isReconciliation == 0 %}
                                        <a title="Reconciliation" class="btn btn-mini green-bg white-font" href="{{ path('br_sms_convert_update_reconciliation',{id: smsconvert.id,type:1}) }}"><i class="fa fa-check"></i>OK</a>
                                        <a class="btn btn-mini yellow-bg white-font" href="{{ path('br_sms_convert_update',{id: smsconvert.id}) }}"><i class="fa fa-edit"></i></a>
                                        <a href="{{ path('br_sms_convert_delete',{id: smsconvert.id}) }}" onclick="return confirm('Are you sure you want to delete ?');" class="btn btn-mini danger-bg white-font" href=""><i class="fa fa-remove"></i></a>
                                        {% else %}
                                            <a title="Rollback" class="btn btn-mini danger-bg white-font" href="{{ path('br_sms_convert_update_reconciliation',{id: smsconvert.id,type:0}) }}"><i class="fa fa-refresh"></i>Reset</a>

                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="9" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ data.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(data) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}

    $('#datatable').DataTable( {
{#    pageLength: 25,#}
    paging:false,
    bFilter: true,
    bInfo:false,
    columnDefs: [ {
    targets: -1,
    orderable: false
    }],
    });
{% endblock %}
