{% if reconciliationData is defined and reconciliationData is not empty %}

    <table class="table table-bordered table-striped" border="1" width="100%" style="border-collapse: collapse;">
        <thead class="thead-dark">
        <tr style="border-bottom-color: #dbdee34a !important;">
            <th colspan="14" class="text-center">
                {% if headingMsg is defined and headingMsg is not empty %}
                    {{ headingMsg }}
                {% endif %}
            </th>
        </tr>
        <tr>
            <th colspan="14" class="text-center">{{'Daily TT' }}</th>
        </tr>
        <tr>
            <th width="50" >{{ 'Report Date'|trans }}</th>
            <th width="50" >{{ 'Transaction Date'|trans }}</th>
            <th>{{ 'Company'|trans }}</th>
            <th>{{ 'Bank-Code'|trans }}</th>
            <th>{{ 'Bank'|trans }}</th>
            <th>{{ 'Name of Branch'|trans }}</th>
            <th>{{ 'Branch-Code'|trans }}</th>
            <th>{{ 'Name of Party'|trans }}</th>
            <th>{{ 'Party-Code'|trans }}</th>
            <th>{{ 'Feed TK'|trans }}</th>
            <th>{{ 'Chicks TK'|trans }}</th>
            <th>{{ 'Total'|trans }}</th>
            <th>{{ 'Download'|trans }}</th>
            <th>{{ 'BackDate'|trans }}</th>
        </tr>
        </thead>

        <tbody>
        {% if reconciliationData is defined and reconciliationData is not empty %}
            {% set totalFeed = 0 %}
            {% set totalChick = 0 %}
            {% set totalAmount = 0 %}
            {% for statement in reconciliationData %}
                <tr>
                    <td width="100">
                        {% if statement.reportDate is not empty %}
                            {{ statement.reportDate|date('d-M-Y')}}
                        {% endif %}
                    </td>
                    <td width="100">
                        {% if statement.transactionDate is not empty %}
                            {{ statement.transactionDate|date('d-M-Y')}}
                        {% endif %}
                    </td>
                    <td>
                        {% if type is not empty %}
                            {{ type}}
                        {% endif %}
                    </td>

                    <td>
                        {% if statement.accountCode is not null %}
                            {{ statement.accountCode }}
                        {% endif %}
                    </td>
                    <td>
                        {% if statement.bankName is not empty %}
                            {{ statement.bankName}}
                        {% endif %}
                    </td>
                    <td>
                        {% if statement.branchName is not empty %}
                            {{ statement.branchName}}
                        {% endif %}
                    </td>
                    <td>
                        {% if statement.branchCode is not empty %}
                            {{ statement.branchCode}}
                        {% endif %}
                    </td>
                    <td>
                        {% if statement.agentName is not empty %}
                            {{ statement.agentName}}
                        {% endif %}
                    </td>
                    <td>
                        {% if statement.agentId is not empty %}
                            {% if statement.mode == 'Feed' %}
                                {{ 'F'~statement.agentId}}
                            {% else %}
                                {{ 'C'~statement.agentId}}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="text-align: right">
                        {% if statement.mode is not empty and statement.mode == 'Feed' %}
                            {{ statement.bankDeposit|number_format(0, '.', ',') }}
                            {% set totalFeed = totalFeed+statement.bankDeposit %}
                        {% endif %}
                    </td>
                    <td style="text-align: right">
                        {% if statement.mode is not empty and statement.mode == 'Chick' %}
                            {{ statement.bankDeposit|number_format(0, '.', ',') }}
                            {% set totalChick = totalChick + statement.bankDeposit %}
                        {% endif %}
                    </td>
                    <td style="text-align: right">
                        {% if statement.bankDeposit is not empty %}
                            {{ statement.bankDeposit|number_format(0, '.', ',') }}
                            {% set totalAmount = totalAmount+statement.bankDeposit %}
                        {% endif %}
                    </td>
                    <td>
                        {% if statement.isDownload is not empty %}
                            {% if statement.isDownload == 1 %}
                                {{ 'Yes' }}
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>
                            {% if statement.reportDate != statement.transactionDate %}
                                {{ 'Yes' }}
                            {% endif %}
                    </td>

                </tr>
            {% endfor %}
            <tr>
                <th colspan="9" style="text-align: center">Total</th>
                <th style="text-align: right">{{ totalFeed|number_format(0, '.', ',') }}</th>
                <th style="text-align: right">{{ totalChick|number_format(0, '.', ',') }}</th>
                <th style="text-align: right">{{ totalAmount|number_format(0, '.', ',')  }}</th>
                <th colspan="2"></th>
            </tr>
        {% else %}
            <tr>
                <td colspan="14" align="center">{{ 'No record has been found!'|trans }}</td>
            </tr>
        {% endif %}

        </tbody>

    </table>

{% endif %}