<div class="row">
    <div class="col-md-12">
        <div class="card p-3">
            <table class="table table-bordered table-striped" width="100%" border="1" style="border-collapse: collapse;">
                <thead class="thead-dark">
                <tr style="border-bottom-color: #dbdee34a !important;">
                    <th colspan="10" class="text-center">
                        {{ 'Reconciliation Report (All Bank & Company)' }}
                    </th>
                </tr>
                {% if reconciliationData is defined and reconciliationData is not empty %}
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan="10" class="text-center">
                            {{ startDate|date('d-M-Y')~' to '~endDate|date('d-M-Y') }}
                        </th>
                    </tr>
                {% endif %}

                <tr>
                    <th>{{ 'SL'|trans }}</th>
                    <th width="50" >{{ 'Date'|trans }}</th>
                    <th>{{ 'Company'|trans }}</th>
                    {#                        <th>{{ 'Bank-Code'|trans }}</th>#}
                    <th>{{ 'Bank'|trans }}</th>
                    <th>{{ 'Name of Branch'|trans }}</th>
                    <th>{{ 'Branch-Code'|trans }}</th>
                    <th>{{ 'Name of Party'|trans }}</th>
                    <th>{{ 'Party-Code'|trans }}</th>
                    <th>{{ 'Value'|trans }}</th>
                    <th>{{ 'Approved By'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% if reconciliationData is defined and reconciliationData is not empty %}
                    {% set grandTotal = 0 %}
                    {% for firstKey,statementData in reconciliationData %}
                        {% for secondKey,statement in statementData %}

                            {% set totalValue = 0 %}
                            {% for data in statement %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td width="100">
                                        {% if data.transactionDate is not empty %}
                                            {{ data.transactionDate|date('d-M-Y')}}
                                        {% endif %}
                                    </td>

                                        <td>
                                            {% if data.accountType is not empty %}
                                                {{ data.accountType }}
                                            {% endif %}
                                        </td>

                                    {#                                {% if loop.first %}#}
                                    {#                                    <td rowspan="{{ statement|length }}">#}
                                    {#                                        {% if data.accountCode is not empty %}#}
                                    {#                                            {{ data.accountCode }}#}
                                    {#                                        {% endif %}#}
                                    {#                                    </td>#}
                                    {#                                {% endif %}#}

                                        <td>
                                            {% if data.bankName is not empty %}
                                                {{ data.bankName }}
                                            {% endif %}
                                        </td>

                                    <td>
                                        {% if data.branchName is not empty %}
                                            {{ data.branchName}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if data.branchCode is not empty %}
                                            {{ data.branchCode}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if data.agentName is not empty %}
                                            {{ data.agentName}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if data.agentId is not empty %}
                                            {% if data.mode == 'Feed' %}
                                                {{ 'F'~data.agentId}}
                                            {% else %}
                                                {{ 'C'~data.agentId}}
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                    <td style="text-align: right">
                                        {% if data.bankDeposit is not empty %}
                                            {{ data.bankDeposit|number_format(0, '.', ',') }}
                                            {% set grandTotal = grandTotal+data.bankDeposit %}
                                            {% set totalValue = totalValue+data.bankDeposit %}
                                        {% endif %}
                                    </td>

                                    <td style="text-align: center">
                                        {% if data.userName is not empty %}
                                            {{ data.userName }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="4" style="background-color: #f3f4f5"></th>
                                <th colspan="4" style="background-color: #f3f4f5">Total</th>
                                <th style="text-align: right;background-color: #f3f4f5" >
                                    {{ totalValue|number_format(0, '.', ',') }}
                                </th>
                                <th style="background-color: #f3f4f5"></th>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr>
                        <th colspan="5" style="text-align: center;background-color: #f3f4f5">Grand Total</th>
                        <th style="text-align: right;background-color: #f3f4f5" colspan="4">{{ grandTotal|number_format(0, '.', ',')  }}</th>
                        <th style="text-align: right;background-color: #f3f4f5" ></th>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10" align="center">{{ 'No record has been found!'|trans }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>