
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th colspan="10" class="text-center">{{ 'Bank Transaction' }}</th>
                    </tr>
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th width="5%">{{ 'Account Code'|trans }}</th>
                        <th width="10%">{{ 'Bank Name'|trans }}</th>
                        <th width="10%">{{ 'Branch'|trans }}</th>
                        <th width="20%">{{ 'Description'|trans }}</th>
                        <th width="10%">{{ 'Instrument No'|trans }}</th>
                        <th width="10%">{{ 'Deposit Amount'|trans }}</th>
                        <th>{{ 'Mode'|trans }}</th>
                        <th>{{ 'Agent'|trans }}</th>
                        <th class="text-center"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if transactionData is defined and transactionData is not empty %}
{#                        {% set offset = transactionData.getItemNumberPerPage * (transactionData.currentPageNumber - 1) %}#}
                        {% for statement in transactionData %}


                            <tr>
                                <td>{{ loop.index }}</td>

                                <td>{% if statement is not empty %}{{ statement.fileUpload.bankAccountCode.accountCode }}
                                    {% endif %}</td>
                                <td>{% if statement is not empty %}{{ statement.bank.name }}{% endif %}</td>

                                <td>
                            {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                            {% if statement.branch.branchName is defined and statement.branch.branchName is not null %}
                                {{ statement.branch.branchCode ~' -- '~ statement.branch.branchName }}
                            {% endif %}
                        {% else %}
                                    {% if statement.branch.branchName is defined and statement.branch.branchName is not null %}
                                    <a data-type="select" class="editable dashEditable" id="branch-{% if statement.branch.branchName is defined and statement.branch is not empty %}{{ statement.id }}{% endif %}" data-source="{{ path('bank_branch_select',{id:statement.branch.id}) }}" data-name="branch" href="#" data-url="{{ path('bank_branch_inline_update',{id:statement.id}) }}"  data-pk="{% if statement.branch is defined and statement.branch is not empty %}{{ statement.id }}{% endif %}" data-value="{% if statement.branch is defined and statement.branch is not empty %}{{ statement.branch.branchName }}{% endif %}" data-original-title="Statement Branch">
                                        {% if statement.branch.branchName is defined and statement.branch.branchName is not null %}
                                            {{ statement.branch.branchCode ~' -- '~ statement.branch.branchName }}
                                        {% endif %}
                                    {% endif %}
                                        {% endif %}
                                    </a>

                                </td>
                                <td style="text-align: left">
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                                    {{ statement.description }}
                                    {% else %}

                                    <a data-type="textarea" class="editable dashEditable" id="statement-{% if statement.description is defined and statement.description is not empty %}{{ statement.id }}{% endif %}" data-name="description" href="#" data-url="{{ path('bank_description_inline_update',{id:statement.id}) }}"  data-pk="{% if statement.description is defined and statement.description is not empty %}{{ statement.id }}{% endif %}" data-value="{% if statement.description is defined and statement.description is not empty %}{{ statement.description }}{% endif %}" data-original-title="Statement Description">
                                        {% if statement.description is defined and statement.description is not empty %}
                                            {{ statement.description }}
                                        {% endif %}
                                        {% endif %}
                                    </a>
                                </td>

                                <td>
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                            {{ statement.instrumentNo }}
                        {% else %}
                                    <a data-type="text" class="editable dashEditable" id="instrumentNo-{% if statement.instrumentNo is defined and statement.instrumentNo is not empty %}{{ statement.id }}{% endif %}" data-name="instrumentNo" data-url="{{ path('bank_instrumentno_inline_update',{id:statement.id}) }}" href="#"  data-pk="{% if statement.instrumentNo is defined and statement.instrumentNo is not empty %}{{ statement.id }}{% endif %}" data-value="{% if statement.instrumentNo is defined and statement.instrumentNo is not empty %}{{ statement.instrumentNo }}{% endif %}" data-original-title="instrumentNo">
                                        {% if statement.instrumentNo is defined and statement.instrumentNo is not empty %}
                                            {{ statement.instrumentNo }}
                                        {% endif %}
                                        {% endif %}
                                    </a>
                                </td>
                                <td style="text-align: right">
                            {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                            {{ statement.deposit }}
                        {% else %}
                                    <a data-type="text" class="editable dashEditable" id="deposit-{% if statement.deposit is defined and statement.deposit is not empty %}{{ statement.id }}{% endif %}" data-name="deposit" data-url="{{ path('bank_deposit_inline_update',{id:statement.id}) }}" href="#"  data-pk="{% if statement.deposit is defined and statement.deposit is not empty %}{{ statement.id }}{% endif %}" data-value="{% if statement.deposit is defined and statement.deposit is not empty %}{{ statement.deposit }}{% endif %}" data-original-title="deposit">
                                        {% if statement.deposit is defined and statement.deposit is not empty %}
                                            {{ statement.deposit|number_format(0, '.', ',') }}
                                        {% endif %}
                                        {% endif %}
                                    </a>
{#                                    {% if statement.deposit is defined and statement.deposit is not null %}#}
{#                                    {{ statement.deposit }}#}
{#                                    {% endif %}#}
                                </td>
                                <td>
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                                        {{ statement.bankReconciliation.mode }}

                                        {% else %}
                                            {% if statement.bankReconciliation.mode is defined and statement.bankReconciliation.mode is not null %}
                                                <div class="form-check">
                                                    <input class="form-check-input typeChange" data-id="{{ statement.bankReconciliation.id }}" type="radio" name="type_{{ statement.id }}" id="type_for_{{ statement.id~'_feed'}}" value="Feed" {% if(statement.bankReconciliation.mode == 'Feed') %} checked="checked" {% endif %} data-url="{{ path('bank_mode_inline_update_form_radio',{id:statement.bankReconciliation.id}) }}"/>
                                                    <label class="form-check-label" for="type_for_{{ statement.id~'_feed'}}">
                                                        Feed
                                                    </label>

                                                    <br>

                                                    <input class="form-check-input typeChange" data-id="{{ statement.bankReconciliation.id }}" type="radio" name="type_{{ statement.id }}" id="type_for_{{ statement.id~'_chick'}}" value="Chick" {% if(statement.bankReconciliation.mode == 'Chick') %} checked="checked" {% endif %} data-url="{{ path('bank_mode_inline_update_form_radio',{id:statement.bankReconciliation.id}) }}" >
                                                    <label class="form-check-label" for="type_for_{{ statement.id~'_chick'}}">
                                                        Chick
                                                    </label>
                                                </div>
                                                {#<a data-type="select" class="editable dashEditable chickSelectValue value{{ statement.bankReconciliation.id }}" id="mode-{{ statement.id }}" data-source="{{ path('mode_select') }}" data-name="mode" href="#" data-url="{{ path('bank_mode_inline_update',{id:statement.bankReconciliation.id}) }}"  data-pk="{{ statement.bankReconciliation.id }}" data-value="{{ statement.bankReconciliation.mode }}" data-original-title="mode">
                                                    {{ statement.bankReconciliation.mode }}
                                                </a>#}
                                            {% endif %}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                                        {{ statement.bankReconciliation.agent.name|default('') }}

                                    {% else %}
{#                                        {% if statement.bankReconciliation.mode is defined and statement.bankReconciliation.mode is not null and statement.bankReconciliation.mode == 'Chick' %}#}
{#                                            <a data-type="select" class="editable dashEditable" id="agent-{{ statement.id }}" data-source="{{ path('agent_select') }}" data-name="agent_id" href="#" data-url="{{ path('chick_agent_inline_update',{id:statement.bankReconciliation.id}) }}"  data-pk="{{ statement.bankReconciliation.id }}" data-value="{{ statement.bankReconciliation.mode }}" data-original-title="mode">#}
{#                                                {{ 'Chick Agent' }}#}
{#                                            </a>#}
{#                                        {% else %}#}
                                            <select name="agentID" id="getAgentID{{ statement.bankReconciliation.id }}" class="select2 agentSearch"></select>
{#                                        {% endif %}#}
                                    {% endif %}
                                </td>

                                <td style="text-align: center">
                                    {% if statement.bankReconciliation.approvedBy is defined and statement.bankReconciliation.approvedBy is not empty  %}
                                        <a data-action="{{ path('br_reset_reconciliation') }}" class="btn-sm text-danger reconciliation-reset" title="Reset" style="cursor: pointer;" reconciliationId="{{ statement.bankReconciliation.id }}"><i class="fa fa-refresh" aria-hidden="true"></i></a>

                                    {% else %}
{#                                        {% if statement.bankReconciliation.mode is defined and statement.bankReconciliation.mode is not null and statement.bankReconciliation.mode == 'Feed' %}#}
                                            <input type="checkbox" class="br-approved-chick-feed" id="br-approved-chick{{ statement.bankReconciliation.id }}" reconciliation-id="{{ statement.bankReconciliation.id }}" data-action="{{ path('br_chick_feed_reconciliation',{id: statement.bankReconciliation.id})}}">
{#                                        {% endif %}#}
                                    <a data-action="{{ path('br_transaction_delete',{id: statement.id}) }}" class="btn  btn-transparent btn-mini red-font remove" href="javascript:"><i class="fa fa-remove"></i></a>
                                        {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="12" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}

                    </tbody>

                </table>
{#                {% if transactionData is defined and transactionData is not empty %}#}
{#                <div class="row">#}
{#                    <div class="col-md-3">#}
{#                        <div class="count">#}
{#                            Total Records: {{ transactionData.getTotalItemCount }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-9 navigation" style="padding-right: 0;">#}
{#                        {{ knp_pagination_render(transactionData) }}#}
{#                    </div>#}
{#                </div>#}
{#                {% endif %}#}
            </div>
        </div>
