{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div id="pageloader">
        <img src="{{ asset('/assets/images/loader.gif') }}" alt="processing..." />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>
                        {% if(isReconciliation == 1) %}
                        {{ 'Recognised' }}
                        {% elseif(isReconciliation == 0)%}
                        {{ 'Unrecognised' }}
                        {% endif %}
                        SMS Convert Report</h5>
                    <div class="card-header-right">
                        {% if data is defined and data is not empty %}
                            {% if bank is defined and bank is not empty %}{% set bankId = bank.id %}{% else %}{% set bankId = '' %}{% endif %}
                            {% if type is defined and type is not empty %}{% set type = type %}{% else %}{% set type = '' %}{% endif %}
                            {% if isReconciliation is defined and isReconciliation is not empty %}{% set isReconciliation = isReconciliation %}{% endif %}
                            {% if depot is defined and depot is not empty %}{% set depot = depot %}{% endif %}
                            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                                <a href="{{ path('br_sms_convert_recognised_download',{isReconciliation:isReconciliation,transactionDate: transactionDate|date('d-m-Y'),type:type,bank:bankId,filetype:'pdf',depot:depot}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                                <a href="{{ path('br_sms_convert_recognised_download',{isReconciliation:isReconciliation,transactionDate: transactionDate|date('d-m-Y'),type:type,bank:bankId,filetype:'excel',depot:depot})}}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-9 offset-1">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="2">
                                    {{ form_label(form.isReconciliation,'Convert Type *') }}
                                    {{ form_widget(form.isReconciliation)}}
                                    {{ form_errors(form.isReconciliation) }}
                                </th>

                                <th colspan="2">
                                    {{ form_label(form.transactionDate,'Transaction Date *') }}
                                    {{ form_widget(form.transactionDate)}}
                                    {{ form_errors(form.transactionDate) }}
                                </th>

                                <th colspan="2">
                                    {{ form_label(form.depotId,'Depot') }}
                                    {{ form_widget(form.depotId)}}
                                    {{ form_errors(form.depotId) }}
                                </th>

                                <th colspan="2">
                                    {{ form_label(form.bank,'Bank') }}
                                    {{ form_widget(form.bank)}}
                                    {{ form_errors(form.bank) }}
                                </th>



                                <th colspan="1">
                                    {{ form_label(form.type,' Type ') }}
                                    {{ form_widget(form.type) }}
                                    {{ form_errors(form.type) }}
                                </th>

                                <th colspan="2">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_sms_convert_recognised_list') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan={% if(isReconciliation == 1) %} {{ "10" }} {% else %} {{ "9" }} {% endif %} class="text-center">
                            {% if(isReconciliation == 1) %}
                                {{ 'Recognised' }}
                            {% elseif(isReconciliation == 0)%}
                                {{ 'Unrecognised' }}
                            {% endif %}
                            {{ ' SMS Convert Report' }}
                        </th>
                    </tr>
                    <tr>
                        {% if transactionDate is defined %}
                            <th colspan={% if(isReconciliation == 1) %} {{ "10" }} {% else %} {{ "9" }} {% endif %} class="text-center">{{transactionDate|date('d-M-Y') }}</th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{{ 'S/N'|trans }}</th>
                        <th>{{ 'Depot'|trans }}</th>
                        <th>{{ 'Agent Name'|trans }}</th>
                        <th>{{ 'Agent Mobile'|trans }}</th>
                        <th>{{ 'Type'|trans }}</th>
                        <th>{{ 'Amount'|trans }}</th>
                        <th>{{ 'Bank Name'|trans }}</th>
                        <th>{{ 'Branch Name'|trans }}</th>
                        <th>{{ 'Created User'|trans }}</th>
                        {% if(isReconciliation == 1) %}
                            <th>{{ 'Approved User'|trans }}</th>
                        {% endif %}
                    </tr>
                    </thead>

                    <tbody>

                    {% if data is defined and data is not empty %}
                        {% for statement in data %}
                        <tr style="background-color:{% if(isReconciliation == 1) %}{% if statement.type == 'Feed' %}{{ '#b7f7b7 !important;' }}{% else %} {{ '#e1ffe1 !important;' }} {% endif %}{% else %}{% if statement.type == 'Feed' %}{{ '#ffcece !important;' }}{% else %} {{ '#fbe4e4 !important;' }} {% endif %}{% endif %}"  >
                            <td>{{ loop.index }}</td>
                            <td>{{ statement.depotName }}</td>
                            <td>{{ statement.agentName|default('') }} ({{ statement.agentId }}) ({{ statement.upozilaName~'-'~statement.districtName }})</td>
                            <td>{{ statement.mobile|default('') }}</td>
                            <td>{{ statement.type|default('') }}</td>
                            <td align="right">{{ statement.amount|number_format(2)|default('') }}</td>
                            <td>{{ statement.bankName|default('') }}</td>
                            <td>{{ statement.branchName|default('') }}</td>
                            <td>{{ statement.userName~' ('~statement.userMobile~')'~}}</td>
                            {% if(isReconciliation == 1) %}
                                <td>{{ statement.approveName~' ('~statement.approveMobile~')'~}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>

                </table>
{#                {% if data is defined and data is not empty %}#}

{#                    <div class="row">#}
{#                        <div class="col-md-3">#}
{#                            <div class="count">#}
{#                                Total Records: {{ data.getTotalItemCount }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-9 navigation" style="padding-right: 0;">#}
{#                            {{ knp_pagination_render(data) }}#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        #pageloader
        {
            background: rgba( 255, 255, 255, 0.8 );
            display: none;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }

        #pageloader img
        {
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            position: absolute;
            top: 50%;
        }
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.transactionDate').datepicker(
    {
    dateFormat: 'dd-mm-yy'
    }
    );
{% endblock %}
