
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped" border="1" width="100%" style="border-collapse: collapse;">
                    <thead class="thead-dark">
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan={% if(isReconciliation == 1) %} {{ "10" }} {% else %} {{ "9" }} {% endif %} class="text-center">
                            {% if(isReconciliation == 1) %}
                                {{ 'Recognised' }}
                            {% elseif(isReconciliation == 0)%}
                                {{ 'Unrecognised' }}
                            {% endif %}
                            {{ ' SMS Convert Report' }}
                        </th>
                    </tr>
                    <tr>
                        {% if transactionDate is defined %}
                            <th colspan={% if(isReconciliation == 1) %} {{ "10" }} {% else %} {{ "9" }} {% endif %} class="text-center">{{transactionDate|date('d-M-Y') }}</th>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>{{ 'S/N'|trans }}</th>
                        <th>{{ 'Depot'|trans }}</th>
                        <th>{{ 'Agent Name'|trans }}</th>
                        <th>{{ 'Agent Mobile'|trans }}</th>
                        <th>{{ 'Type'|trans }}</th>
                        <th>{{ 'Amount'|trans }}</th>
                        <th>{{ 'Bank Name'|trans }}</th>
                        <th>{{ 'Branch Name'|trans }}</th>
                        <th>{{ 'Created User'|trans }}</th>
                        {% if(isReconciliation == 1) %}
                            <th>{{ 'Approved User'|trans }}</th>
                        {% endif %}
                    </tr>
                    </thead>

                    <tbody>

                    {% if data is defined and data is not empty %}
                        {% for statement in data %}
                        <tr style="background-color:{% if(isReconciliation == 1) %}{% if statement.type == 'Feed' %}{{ '#b7f7b7 !important;' }}{% else %} {{ '#e1ffe1 !important;' }} {% endif %}{% else %}{% if statement.type == 'Feed' %}{{ '#ffcece !important;' }}{% else %} {{ '#fbe4e4 !important;' }} {% endif %}{% endif %}"  >
                            <td>{{ loop.index }}</td>
                            <td>{{ statement.depotName }}</td>
                            <td>{{ statement.agentName|default('') }} ({{ statement.upozilaName~'-'~statement.districtName }})</td>
                            <td>{{ statement.mobile|default('') }}</td>
                            <td>{{ statement.type|default('') }}</td>
                            <td align="right">{{ statement.amount|number_format(2)|default('') }}</td>
                            <td>{{ statement.bankName|default('') }}</td>
                            <td>{{ statement.branchName|default('') }}</td>
                            <td>{{ statement.userName~' ('~statement.userMobile~')'~}}</td>
                            {% if(isReconciliation == 1) %}
                                <td>{{ statement.approveName~' ('~statement.approveMobile~')'~}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>

                </table>
{#                {% if data is defined and data is not empty %}#}

{#                    <div class="row">#}
{#                        <div class="col-md-3">#}
{#                            <div class="count">#}
{#                                Total Records: {{ data.getTotalItemCount }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-9 navigation" style="padding-right: 0;">#}
{#                            {{ knp_pagination_render(data) }}#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>
    </div>