<div class="col-md-12">
    <div class="card p-3">
        <table class="table table-bordered table-striped" >
            <thead class="thead-dark">
            <tr>
                <th colspan="7" class="text-center">{{ 'Bank Transaction' }}</th>
                <th class="text-center">
                    Approve
                    {#                            All <br><input type="checkbox" name="approve-status" class="" data-action="" data-mobile="" data-statementId="">#}
                </th>
                <th colspan="6" class="text-center">{{ 'Sales' }}</th>
            </tr>
            <tr>
                <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                <th>{{ 'Bank Name'|trans }}</th>
                <th>{{ 'Branch'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Diposit Amount'|trans }}</th>
                <th>{{ 'Mode'|trans }}</th>
                <th>{{ 'Account Code'|trans }}</th>
                <th class="text-center">
                    <input type='checkbox' data-action="{{ path('br_send_sms_to_agent_multiple') }}" name="check_all" id='select_all_transaction'>
                    {{ 'All'|trans }}
                </th>
                <th>{{ 'Difference Amount'|trans }}</th>
                <th>{{ 'Amount'|trans }}</th>
                <th>{{ 'Actual Amount'|trans }}</th>
                <th>{{ 'Agent ID'|trans }}</th>
                <th>{{ 'Agent Name'|trans }}</th>
                <th>{{ 'Agent Mobile'|trans }}</th>
{#                <th>{{ 'Agent Address'|trans }}</th>#}
            </tr>
            </thead>

            <tbody>

            {% if reconciliationData is defined and reconciliationData is not empty %}

                {% for statement in reconciliationData %}
                    <tr style="background-color:{% if statement.reconciliationFlag == 'teal' %} #8cd1d1 {% endif %}{% if statement.reconciliationFlag == 'green' %} #cafc99 {% endif %}{% if statement.reconciliationFlag == 'yellow' %} #ffff0052 {% endif %}{% if statement.reconciliationFlag == 'purple' %} #8000804d {% endif %}{% if statement.reconciliationFlag == 'red' %} #ff000038 {% endif %}{% if statement.reconciliationFlag == 'blue' %} #00c4ff2e {% endif %}!important;font-weight: {% if statement.isCustom == 'yes' %} bold {% endif %}!important;">
                        {% if statement.transactionID is defined and statement.transactionID is not empty%}

                            <td>{{ loop.index }}</td>

{#                            <td>{% if statement.transactionID is not empty %}{{ statement.transactionID }}{% endif %}</td>#}
                            <td>

                                {% if statement.bankName is defined and statement.bankName is not null %}
                                    {{ statement.bankName }}
                                {% endif %}
                            </td>
                            <td>

                                {% if statement.branchName is defined and statement.branchName is not null %}
                                    {{ statement.branchName~'-'~statement.branchCode }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.description is defined and statement.description is not null %}
                                    {{ statement.description}}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.bankDeposit is defined and statement.bankDeposit is not null %}
                                    {{ statement.bankDeposit }}
                                {% endif %}
                            </td>
                            <td>
                                {{ statement.mode }}
                            </td>

                            <td>
                                {{ statement.accountCode }}
                            </td>

                            <td align="center" class="yellow-bg">
                                {% if statement.approvedBy is not empty %}
                                    <a data-action="{{ path('br_reset_reconciliation') }}" class="btn-sm white-font reconciliation-reset" title="Reset" onclick="return confirm('Are you sure to reset reconciliation !')" style="cursor: pointer;" reconciliationId="{{ statement.reconciliationID }}"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                {% else %}
                                    {% if statement.mode == 'Feed' %}
                                        <input type="checkbox"  {% if statement.approvedBy is not empty %} disabled checked {% endif %} name="approve-status" class="br-approved {% if statement.reconciliationFlag == 'red' or statement.approvedBy is not empty or statement.salesPaymentAmount is empty %} noCheck  {% else %} yesCheck  {% endif %}" adjustAmount="{% if statement.diffAmount > 0 %}{{ statement.bankDeposit }}{% else %}{{ 0 }}{% endif %}" data-action="{{ path('br_send_sms_to_agent') }}" data-mobile="{{ statement.agentMobile|default('') }}" data-statementId="{{ statement.transactionID|default('') }}" id="approve-status-{{ loop.index }}" index-no = "{{ loop.index }}" salesId = "{% if statement.salesPaymentAmount is not empty %} {{ statement.salesID|default('') }} {% endif %}" transactionSelect = "0">
                                    {% else %}
                                        <input type="checkbox" class="br-approved-chick" id="br-approved-chick{{ statement.reconciliationID }}" reconciliation-id="{{ statement.reconciliationID }}" data-action="{{ path('br_chick_reconciliation',{id: statement.reconciliationID})}}">
                                    {% endif %}
{#                                    <input type="checkbox"  {% if statement.approvedBy is not empty %} disabled checked {% endif %} name="approve-status" class="br-approved {% if statement.reconciliationFlag == 'red' or statement.approvedBy is not empty or statement.salesPaymentAmount is empty %} noCheck  {% else %} yesCheck  {% endif %}" adjustAmount="{% if statement.diffAmount > 0 %}{{ statement.bankDeposit }}{% else %}{{ 0 }}{% endif %}" data-action="{{ path('br_send_sms_to_agent') }}" data-mobile="{{ statement.agentMobile|default('') }}" data-statementId="{{ statement.transactionID|default('') }}" id="approve-status-{{ loop.index }}" index-no = "{{ loop.index }}" salesId = "{% if statement.salesPaymentAmount is not empty %} {{ statement.salesID|default('') }} {% endif %}" transactionSelect = "0">#}
                                {% endif %}
                            </td>

                        {% endif %}

                        {% if statement.salesPaymentAmount is defined and statement.salesPaymentAmount is not empty and statement.transactionID is defined and statement.transactionID is not empty %}
                            <td style="background-color: #fffa90 !important;">
                                {% if statement.diffAmount is defined and statement.diffAmount is not null  %}
                                    {{ statement.diffAmount}}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.salesPaymentAmount is defined and statement.salesPaymentAmount is not null  %}
                                    {{ statement.salesPaymentAmount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.actualAmount is defined and statement.actualAmount is not null  %}
                                    {{ statement.actualAmount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.agentId is defined and statement.agentId is not null  %}
                                    {{ statement.agentId}}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.agentName is defined and statement.agentName is not null  %}
                                    {{ statement.agentName}}
                                {% endif %}
                            </td>
                            <td>
                                {% if statement.agentMobile is defined and statement.agentMobile is not null  %}
                                    {{ statement.agentMobile }}
                                {% endif %}
                            </td>
                            {#<td>
                                {% if statement.agentAddress is defined and statement.agentAddress is not null  %}
                                    {{ statement.agentAddress }}
                                {% endif  %}
                            </td>#}
                        {% else %}
                            {% if statement.transactionID is defined and statement.transactionID is not empty %}

                                <td colspan="6" style="background-color: #ffffff !important;">
                                    {% if statement.mode == 'Feed' %}
                                        {#  branch Id -- branchName -- Agent Id -- Agent Name -- Agent Mobile -- Agent Address -- Sales Amount -- salesDate -- salesId#}
                                        <select  name="salesId"  class="getSalesTransactionID  select2" index-no = "{{ loop.index }}">
                                            <option value="">Select Sales Transaction</option>
                                            {% if salesSelect is defined and salesSelect is not empty %}
                                                {% for salesSelectOption in salesSelect %}
                                                    <option value="{{ salesSelectOption.id }}">
                                                        {{  salesSelectOption.branchId|default('') ~' -- '~ salesSelectOption.branchName|default('') ~' -- '~ salesSelectOption.agentId|default('')~' -- '~ salesSelectOption.agentName|default('') ~' -- '~ salesSelectOption.agentMobile|default('') ~' -- '~ salesSelectOption.agentAddress ~' -- '~ salesSelectOption.depositAmount|default('')~' -- '~salesSelectOption.salesDate|date('d-m-Y')~' -- '~salesSelectOption.id|default('')~' -- ('~salesSelectOption.districtName~'-'~ salesSelectOption.regionName|default('')~')' }}
                                                    </option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    {% else %}
                                        <select  name="agentID"  class="getAgentID{{ statement.reconciliationID}}  select2" index-no = "{{ loop.index }}">
                                            <option value="">Select Agent</option>
                                            {% if agentSelect is defined and agentSelect is not empty %}
                                                {% for agentSelectOption in agentSelect %}
                                                    <option value="{{ agentSelectOption.id }}">
                                                        {{  agentSelectOption.name~' ('~agentSelectOption.agentId~')' }}
                                                    </option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        {#                                            {{ statement.transactionID~' '~statement.reconciliationID }}#}
                                        {#                                            <a data-type="select" class="editable dashEditable" id="agent-{{ statement.transactionID }}" data-source="{{ path('agent_select') }}" data-name="agent_id" href="#" data-url="{{ path('chick_agent_inline_update',{id:statement.reconciliationID}) }}"  data-pk="{{ statement.reconciliationID }}" data-value="{{ statement.mode }}" data-original-title="mode">#}
                                        {#                                                {{ 'Chick Agent' }}#}
                                        {#                                            </a>#}
                                    {% endif %}
                                    {#                                            branch Id -- branchName -- Agent Id -- Agent Name -- Agent Mobile -- Agent Address -- Sales Amount -- salesDate -- salesId#}
{#                                    <select  name="salesId"  class="getSalesTransactionID  select2" index-no = "{{ loop.index }}">#}
{#                                        <option value="">Select Sales Transaction</option>#}
{#                                        {% if salesSelect is defined and salesSelect is not empty %}#}
{#                                            {% for salesSelectOption in salesSelect %}#}
{#                                                <option value="{{ salesSelectOption.id }}">#}
{#                                                    {{  salesSelectOption.branchId|default('') ~' -- '~ salesSelectOption.branchName|default('') ~' -- '~ salesSelectOption.agentId|default('')~' -- '~ salesSelectOption.agentName|default('') ~' -- '~ salesSelectOption.agentMobile|default('') ~' -- '~ salesSelectOption.agentAddress ~' -- '~ salesSelectOption.depositAmount|default('')~' -- '~salesSelectOption.salesDate|date('d-m-Y')~' -- '~salesSelectOption.id|default('') }}#}
{#                                                </option>#}
{#                                            {% endfor %}#}
{#                                        {% endif %}#}
{#                                    </select>#}
                                </td>
                            {% endif %}

                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="12" align="center">{{ 'No record has been found!'|trans }}</td>
                </tr>
            {% endif %}

            </tbody>

        </table>
    </div>
</div>