{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div id="pageloader">
        <img src="{{ asset('/assets/images/loader.gif') }}" alt="processing..." />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5> Missing Report</h5>
                    <div class="card-header-right">
                        {% if bank is defined and bank is not empty %}
                            {% set bankId = bank.id %}
                        {% else %}
                            {% set bankId = '' %}
                        {% endif %}
                        {% if reconciliationData is defined and reconciliationData is not empty %}
                        <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('br_daily_missing_report_download',{type: type,transactionDate:transactionDate|date('d-m-Y'),bank:bankId,dtype:'acc'}) }}" class="btn orange-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> Accounts Report</a>
                            <a href="{{ path('br_daily_missing_report_download',{type: type,transactionDate:transactionDate|date('d-m-Y'),bank:bankId,dtype:'pdf'}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a href="{{ path('br_daily_missing_report_download',{type: type,transactionDate:transactionDate|date('d-m-Y'),bank:bankId,dtype:'excel'}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-7 offset-2">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                <th colspan="6" style="width: 35%;">
                                    {{ form_label(form.bank,'Bank *') }}
                                    {{ form_widget(form.bank,{ attr: {required: 'true'} }) }}
                                    {{ form_errors(form.bank) }}
                                </th>

                                <th colspan="2">
                                    {{ form_label(form.accountType,'Account Type *') }}
                                    {{ form_widget(form.accountType, { attr: {required: 'true'} }) }}
                                    {{ form_errors(form.accountType) }}
                                </th>
                                <th colspan="2">
                                    {{ form_label(form.transactionDate,'Transaction Date *') }}
                                    {{ form_widget(form.transactionDate,{'attr':{'class': 'transactionDate'}}) }}
                                    {{ form_errors(form.transactionDate) }}
                                </th>

                                <th colspan="2">
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_index') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan="12" class="text-center">
                            {% if headingMsg is defined and headingMsg is not empty %}
                                {{ headingMsg }}
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="12" class="text-center">{{'Missing Report' }}</th>
                    </tr>
                    <tr>
                        <th width="50" >{{ 'Date'|trans }}</th>
                        <th>{{ 'Company'|trans }}</th>
                        <th>{{ 'Bank-Code'|trans }}</th>
                        <th>{{ 'Bank'|trans }}</th>
                        <th>{{ 'Name of Branch'|trans }}</th>
                        <th>{{ 'Name of Party'|trans }}</th>
                        <th>{{ 'Feed TK'|trans }}</th>
                        <th>{{ 'Chicks TK'|trans }}</th>
                        <th>{{ 'Total'|trans }}</th>
                        <th>{{ 'Remarks'|trans }}</th>
                        <th>{{ 'Approved By'|trans }}</th>
                        <th>{{ 'Download'|trans }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if reconciliationData is defined and reconciliationData is not empty %}
                        {% set totalFeed = 0 %}
                        {% set totalChick = 0 %}
                        {% set totalAmount = 0 %}
                        {% for statement in reconciliationData %}


                            <tr>
                                <td width="100">
                                    {% if statement.transactionDate is not empty %}
                                        {{ statement.transactionDate|date('d-M-Y')}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if type is not empty %}
                                        {{ type}}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if statement.accountCode is not null %}
                                        {{ statement.accountCode }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if statement.bankName is not empty %}
                                        {{ statement.bankName}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if statement.branchName is not empty %}
                                        {{ statement.branchName~' ('~statement.branchCode~')'}}
                                    {% endif %}
                                </td>

                                <td>
                                    {% if statement.agentName is not empty %}
                                        {{ statement.agentName}}
                                    {% endif %}

                                    {% if statement.agentId is not empty %}
                                        {% if statement.mode == 'Feed' %}
                                            ({{ 'F'~statement.agentId}})
                                        {% else %}
                                            ({{ 'C'~statement.agentId}})
                                        {% endif %}
                                    {% endif %}
                                </td>

                                <td style="text-align: right">
                                    {% if statement.mode is not empty and statement.mode == 'Feed' %}
                                        {{ statement.bankDeposit|number_format(0, '.', ',') }}
                                        {% set totalFeed = totalFeed+statement.bankDeposit %}
                                    {% endif %}
                                </td>
                                <td style="text-align: right">
                                    {% if statement.mode is not empty and statement.mode == 'Chick' %}
                                        {{ statement.bankDeposit|number_format(0, '.', ',') }}
                                        {% set totalChick = totalChick + statement.bankDeposit %}
                                    {% endif %}
                                </td>
                                <td style="text-align: right">
                                    {% if statement.bankDeposit is not empty %}
                                        {{ statement.bankDeposit|number_format(0, '.', ',') }}
                                        {% set totalAmount = totalAmount+statement.bankDeposit %}
                                    {% endif %}
                                </td>
                                <td></td>
                                <td style="text-align: center">
                                    {% if statement.userName is not empty %}
                                        {{ statement.userName }}
                                    {% endif %}
                                </td>
                                <td align="center">
                                    {% if statement.isDownload is not empty %}
                                        {% if statement.isDownload == 1 %}
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                        <tr>
                            <th colspan="6" style="text-align: center">Total</th>
                            <th style="text-align: right">{{ totalFeed|number_format(0, '.', ',') }}</th>
                            <th style="text-align: right">{{ totalChick|number_format(0, '.', ',') }}</th>
                            <th style="text-align: right">{{ totalAmount|number_format(0, '.', ',')  }}</th>
                            <th colspan="3"></th>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}

                    </tbody>

                </table>
                {% if transactionData is defined and transactionData is not empty %}

                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ transactionData.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(transactionData) }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        #pageloader
        {
            background: rgba( 255, 255, 255, 0.8 );
            display: none;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }

        #pageloader img
        {
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            position: absolute;
            top: 50%;
        }
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
        $('.transactionDate').datepicker(
            {
                dateFormat: 'dd-mm-yy'
            }
        );
{% endblock %}
