{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Bank Branches</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('br_branch_create') }}" class="btn btn-sm green-bg white-font"><i class="fas fa-plus"></i>Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-md-6 offset-3">
                    {{ form_start(form) }}
                    <table class="table table-bordered mb-0">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <th colspan="2">
                                {{ form_label(form.bank,'Bank *') }}
                                {{ form_widget(form.bank, { attr: {required: 'true'} }) }}
                                {{ form_errors(form.bank) }}
                            </th>

                            <th colspan="2">
                                {{ form_label(form.bankBranch) }}
                                {{ form_widget(form.bankBranch) }}
                                {{ form_errors(form.bankBranch) }}
                            </th>

                            <th colspan="2">
                                <div class="btn-group" style="margin-top: 25px">
                                    <button type="submit" name="search" class="btn btn-primary btn-sm"
                                            title="Search" value="search"><i
                                                class="fa fa-search" aria-hidden="true"></i></button>
                                    <a href="{{ path('br_branch_list') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th width="50" class="text-center">{{ 'S/N'|trans }}</th>
                        <th width="100" >{{ 'Branch Code'|trans }}</th>
                        <th>{{ 'Branch Name'|trans }}</th>
                        <th>{{ 'District'|trans }}</th>
                        <th>{{ 'Bank Name'|trans }}</th>
                        <th>{{ 'Action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if data is defined and data is not empty %}
                        {% set offset = data.getItemNumberPerPage * (data.currentPageNumber - 1) %}

                        {% for branch in data %}
                            <tr>
                                <td>{{ loop.index + offset }}</td>
                                <td>{{ branch.branchCode|default('') }}</td>
                                <td>{{ branch.branchName|default('') }}</td>
                                <td>{{ branch.districtName|default('') }}</td>
                                <td>{{ branch.bankName|default('') }}</td>
                                <td>
                                    <a class="btn btn-mini yellow-bg white-font" href="{{ path('br_branch_update',{id: branch.id}) }}"><i class="feather icon-edit"></i>Update</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" align="center">{{ 'No record has been found!'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-3">
                        <div class="count">
                            Total Records: {{ data.getTotalItemCount }}
                        </div>
                    </div>
                    <div class="col-md-9 navigation" style="padding-right: 0;">
                        {{ knp_pagination_render(data) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
