
<div class="row">
    <div class="col-md-12">
        <div class="card p-3">
            <table class="table table-bordered table-striped" border="1" width="100%">
                <thead class="thead-dark">
                <tr>
                    <th>{{ 'Transaction Date'|trans }}</th>
                    <th>{{ 'Description'|trans }}</th>
                    <th>{{ 'Transaction Ref'|trans }}</th>
                    <th>{{ 'Credit'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% if data is defined and data is not empty %}
                    {% for statement in data %}
                        <tr>
                            <td>
                                {{ statement.transactionDate|date('d-m-Y') }}
                            </td>
                            <td>
                                {{ statement.description }}
                            </td>

                            <td>
                                {{ statement.transactionRef }}
                            </td>

                            <td>
                                {{ statement.deposit }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>