{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div id="pageloader">
        <img src="{{ asset('/assets/images/loader.gif') }}" alt="processing..." />
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>Total Bank Transaction Report</h5>
                    <div class="card-header-right">
                        {% if data is defined and data is not empty %}
                            {% if bank is defined and bank is not empty %}
                                {% set bankId = bank.id %}
                            {% else %}
                                {% set bankId = '' %}
                            {% endif %}
                            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                                <a href="{{ path('br_total_transacton_report_download',{startDate: startDate|date('d-m-Y'),type:'pdf'}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                                <a href="{{ path('br_total_transacton_report_download',{startDate: startDate|date('d-m-Y'),type:'excel'})}}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-6 offset-3">
                        {{ form_start(form) }}
                        <table class="table table-bordered mb-0">
                            <thead class="thead-dark">
                            <tr role="row" class="filter">
                                {#<th colspan="2">
                                    {{ form_label(form.bank,'Bank') }}
                                    {{ form_widget(form.bank)}}
                                    {{ form_errors(form.bank) }}
                                </th>#}

                                {#<th colspan="3" style="width: 33%;">
                                    {{ form_label(form.accountType,'Account Type *') }}
                                    {{ form_widget(form.accountType, { attr: {required: 'true'}})}}
                                    {{ form_errors(form.accountType) }}
                                </th>#}

                                <th colspan="5">
                                    {{ form_label(form.startDate, ' Date *') }}
                                    {{ form_widget(form.startDate,{'attr':{'class': 'transactionDate',required: 'true'}}) }}
                                    {{ form_errors(form.startDate) }}
                                </th>

                               {# <th colspan="3" style="width: 33%;">
                                    {{ form_label(form.endDate, 'End Date *') }}
                                    {{ form_widget(form.endDate,{'attr':{'class': 'transactionDate',required: 'true'}}) }}
                                    {{ form_errors(form.endDate) }}
                                </th>#}

                                <th>
                                    <div class="btn-group" style="margin-top: 25px">
                                        <button type="submit" name="search" class="btn btn-primary btn-sm"
                                                title="Search" value="search"><i
                                                    class="fa fa-search" aria-hidden="true"></i></button>
                                        <a href="{{ path('br_total_transacton_report') }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr style="border-bottom-color: #dbdee34a !important;">
                        <th colspan="12" class="text-center">
                            {{ 'Transaction Report' }}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="12" class="text-center">{{'Total Transaction Amount'}}</th>
                    </tr>
                    <tr>
                        {% if startDate is defined %}
                            <th colspan="12" class="text-center">{{'Date : '~startDate|date('d-M-Y') }}</th>
                        {% endif %}
                    </tr>
                    <tr style="text-align: center;">
                        <th rowspan="2">{{ 'SL No'|trans }}</th>
                        <th rowspan="2">{{ 'Bank Name'|trans }}</th>
                        <th colspan="3">{{ 'Poultry'|trans }}</th>
                        <th colspan="3">{{ 'Feed'|trans }}</th>
                        <th colspan="3">{{ 'Agro'|trans }}</th>
                        <th rowspan="2">{{ 'Total'|trans }}</th>
                    </tr>

                    <tr style="text-align: center;">
                        <th>{{ 'Feed'|trans }}</th>
                        <th>{{ 'Chick'|trans }}</th>
                        <th>{{ 'Total'|trans }}</th>
                        <th>{{ 'Feed'|trans }}</th>
                        <th>{{ 'Chick'|trans }}</th>
                        <th>{{ 'Total'|trans }}</th>
                        <th>{{ 'Feed'|trans }}</th>
                        <th>{{ 'Chick'|trans }}</th>
                        <th>{{ 'Total'|trans }}</th>
                    </tr>

                    </thead>

                    <tbody>

                    {% if data is defined and data is not empty %}
                        {% set totalSpecificBankAmount = 0 %}
                        {% set totalPoultryAmount = 0 %}
                        {% set totalPoultryFeedAmount = 0 %}
                        {% set totalPoultryChickAmount = 0 %}
                        {% set totalPoultry = 0 %}
                        {% set totalFeedAmount = 0 %}
                        {% set totalFeedFeedAmount = 0 %}
                        {% set totalFeedChickAmount = 0 %}
                        {% set totalFeed = 0 %}
                        {% set totalAgroAmount = 0 %}
                        {% set totalAgroFeedAmount = 0 %}
                        {% set totalAgroChickAmount = 0 %}
                        {% set totalAgro = 0 %}
                        {% set allTotalAmount = 0 %}

                        {% for firstKey,statement in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ firstKey }}</td>
                            <td {% if statement['POULTRY'] is defined%} {% if statement['POULTRY']['Feed'] is defined %} style="text-align: right" {% else %} style="text-align: center" {% endif%} {% else %}style="text-align: center" {% endif %}>
                                {% if statement['POULTRY'] is defined%}
                                    {% for secondKey,amount in statement %}
                                        {% if secondKey == 'POULTRY'%}
                                            {% if amount['Feed'] is defined %}
                                                {% set totalPoultryAmount = totalPoultryAmount+amount['Feed'] %}
                                                {% set totalPoultryFeedAmount = totalPoultryFeedAmount + amount['Feed'] %}
                                                {{ amount['Feed']|number_format(2) }}
                                            {% else %}
                                                {{ '-' }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ '-' }}
                                {% endif %}
                            </td>

                            <td {% if statement['POULTRY'] is defined%} {% if statement['POULTRY']['Chick'] is defined %} style="text-align: right" {% else %} style="text-align: center" {% endif%} {% else %}style="text-align: center" {% endif %}>
                                {% if statement['POULTRY'] is defined%}
                                    {% for secondKey,amount in statement %}
                                        {% if secondKey == 'POULTRY'%}
                                            {% if amount['Chick'] is defined %}
                                                {% set totalPoultryAmount = totalPoultryAmount+amount['Chick'] %}
                                                {% set totalPoultryChickAmount = totalPoultryChickAmount+amount['Chick'] %}
                                                {{ amount['Chick']|number_format(2) }}
                                            {% else %}
                                                <span style="text-align: center;">{{ '-' }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ '-' }}
                                {% endif %}
                            </td>

                            <td {% if statement['POULTRY'] is defined%} style="text-align: right" {% else %}style="text-align: center" {% endif %}>
                                {% if statement['POULTRY'] is defined%}
                                    {% for secondKey,amount in statement %}
                                        {% if secondKey == 'POULTRY'%}
                                            {% set totalSpecificBankAmount = totalSpecificBankAmount+totalPoultryAmount %}
                                            {{ totalPoultryAmount|number_format(2) }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ '-' }}
                                {% endif %}
                            </td>

                            <td {% if statement['FEED'] is defined%} {% if statement['FEED']['Feed'] is defined %} style="text-align: right" {% else %} style="text-align: center" {% endif%} {% else %}style="text-align: center" {% endif %}>
                                {% if statement['FEED'] is defined%}
                                    {% for secondKey,amount in statement %}
                                        {% if secondKey == 'FEED'%}
                                            {% if amount['Feed'] is defined %}
                                                {% set totalFeedAmount = totalFeedAmount+amount['Feed'] %}
                                                {% set totalFeedFeedAmount = totalFeedFeedAmount+amount['Feed'] %}
                                                {{ amount['Feed']|number_format(2) }}
                                            {% else %}
                                                {{ '-' }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ '-' }}
                                {% endif %}
                            </td>

                            <td {% if statement['FEED'] is defined%} {% if statement['FEED']['Chick'] is defined %} style="text-align: right" {% else %} style="text-align: center" {% endif%} {% else %}style="text-align: center" {% endif %}>
                                {% if statement['FEED'] is defined%}
                                    {% for secondKey,amount in statement %}
                                        {% if secondKey == 'FEED'%}
                                            {% if amount['Chick'] is defined %}
                                                {% set totalFeedAmount = totalFeedAmount+amount['Chick'] %}
                                                {% set totalFeedChickAmount = totalFeedChickAmount+amount['Chick'] %}
                                                {{ amount['Chick']|number_format(2) }}
                                            {% else %}
                                                {{ '-' }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ '-' }}
                                {% endif %}
                            </td>

                            <td {% if statement['FEED'] is defined%} style="text-align: right" {% else %}style="text-align: center" {% endif %}>
                                {% if statement['FEED'] is defined%}
                                    {% for secondKey,amount in statement %}
                                        {% if secondKey == 'FEED'%}
                                            {% set totalSpecificBankAmount= totalSpecificBankAmount+totalFeedAmount %}
                                            {{ totalFeedAmount|number_format(2) }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ '-' }}
                                {% endif %}
                            </td>

                            <td {% if statement['AGRO'] is defined%} {% if statement['AGRO']['Feed'] is defined %} style="text-align: right" {% else %} style="text-align: center" {% endif%} {% else %}style="text-align: center" {% endif %}>
                                {% if statement['AGRO'] is defined%}
                                    {% for secondKey,amount in statement %}
                                        {% if secondKey == 'AGRO'%}
                                            {% if amount['Feed'] is defined %}
                                                {% set totalAgroAmount = totalAgroAmount+amount['Feed'] %}
                                                {% set totalAgroFeedAmount = totalAgroFeedAmount+amount['Feed'] %}
                                                {{ amount['Feed']|number_format(2) }}
                                            {% else %}
                                                {{ '-' }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ '-' }}
                                {% endif %}
                            </td>

                            <td {% if statement['AGRO'] is defined%} {% if statement['AGRO']['Chick'] is defined %} style="text-align: right" {% else %} style="text-align: center" {% endif%} {% else %}style="text-align: center" {% endif %}>
                                {% if statement['AGRO'] is defined%}
                                    {% for secondKey,amount in statement %}
                                        {% if secondKey == 'AGRO'%}
                                            {% if amount['Chick'] is defined %}
                                                {% set totalAgroAmount = totalAgroAmount+amount['Chick'] %}
                                                {% set totalAgroChickAmount = totalAgroChickAmount+amount['Chick'] %}
                                                {{ amount['Chick']|number_format(2) }}
                                            {% else %}
                                                {{ '-' }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ '-' }}
                                {% endif %}
                            </td>

                            <td {% if statement['AGRO'] is defined%} style="text-align: right" {% else %}style="text-align: center" {% endif %}>
                                {% if statement['AGRO'] is defined%}
                                    {% for secondKey,amount in statement %}
                                        {% if secondKey == 'AGRO'%}
                                            {% set totalSpecificBankAmount= totalSpecificBankAmount+totalAgroAmount %}
                                            {{ totalAgroAmount|number_format(2) }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {{ '-' }}
                                {% endif %}
                            </td>
                            <td style="text-align: right">
                                {{ totalSpecificBankAmount|number_format(2) }}
                            </td>
                        </tr>
                            {% set totalPoultryAmount = 0 %}
                            {% set totalFeedAmount = 0 %}
                            {% set totalAgroAmount = 0 %}
                            {% set totalSpecificBankAmount = 0 %}
                        {% endfor %}
                        <tr>
                            <th colspan="2" style="text-align: center">Total</th>
                            <th style="text-align: right">{{ totalPoultryFeedAmount|number_format(2) }}</th>
                            <th style="text-align: right">{{ totalPoultryChickAmount|number_format(2) }}</th>
                            <th style="text-align: right">
                                {% set totalPoultry = totalPoultry+totalPoultryFeedAmount+totalPoultryChickAmount %}
                                {{ totalPoultry|number_format(2) }}
                            </th>
                            <th style="text-align: right">{{ totalFeedFeedAmount|number_format(2) }}</th>
                            <th style="text-align: right">{{ totalFeedChickAmount|number_format(2) }}</th>
                            <th style="text-align: right">
                                {% set totalFeed = totalFeed+totalFeedFeedAmount+totalFeedChickAmount %}
                                {{ totalFeed|number_format(2) }}
                            </th>
                            <th style="text-align: right">{{ totalAgroFeedAmount|number_format(2) }}</th>
                            <th style="text-align: right">{{ totalAgroChickAmount|number_format(2) }}</th>
                            <th style="text-align: right">
                                {% set totalAgro = totalAgro+totalAgroFeedAmount+totalAgroChickAmount %}
                                {{ totalAgro|number_format(2) }}
                            </th>
                            <th style="text-align: right">
                                {% set allTotalAmount = allTotalAmount+totalPoultry+totalFeed+totalAgro %}
                                {{ allTotalAmount|number_format(2) }}
                            </th>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        #pageloader
        {
            background: rgba( 255, 255, 255, 0.8 );
            display: none;
            height: 100%;
            position: fixed;
            width: 100%;
            z-index: 9999;
        }

        #pageloader img
        {
            left: 50%;
            margin-left: -32px;
            margin-top: -32px;
            position: absolute;
            top: 50%;
        }
        .pagination{
            float: right;
            margin-right: 15px;
        }
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.transactionDate').datepicker(
    {
    dateFormat: 'dd-mm-yy'
    }
    );
{% endblock %}
