{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Bank Sub statement Upload</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('br_custom_statement_create') }}" id="createForm"  class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'Custom Statement'|trans }}</a>
                        <a href="{{ path('br_bank_statement_list') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Bank Statement'|trans }}</a>
                        <a href="{{ path('br_bank_statement_upload') }}" id="createForm"  class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'Upload Statement'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-body">
                    {#<form action="{{ path('br_transaction_add_file',{id: fileData.id}) }}" method="post">
                        <label class="control-label required" for="file_upload_form_UploadFile">Upload File Here:</label>
#}{#                        <input type="file" name="sub_file" help="Please upload only excel file!" mapped="false" class="form-control" style="padding-top: 7px !important; padding-bottom: 30px !important;">#}{#
                        <input type="file" id="file_upload_form_UploadFile" name="file_upload_form[UploadFile]" required="required" class="form-control" style="padding-top: 7px !important; padding-bottom: 30px !important;">
                        <span id="file_upload_form_UploadFile_help" class="text-secondary help-block">Please upload only excel file!</span>
                        <button type="submit" id="file_upload_form_Submit" name="file_upload_form" class="btn btn-block btn-info mt-3 btn">Upload</button>
                    </form>#}
                    {{ form_start(form) }}
                    {#{{ form_label(form.bank,'Bank Name:') }}
                    {{ form_widget(form.bank) }}
                    {{ form_errors(form.bank) }}

                    <input type="hidden" name="bank" value="{{ fileData.bank.id }}">#}
                    <label class="mt-3 control-label required" for="sub_file_upload_form_accountType">Bank Name:</label>
                    <input type="text" value="{{ fileData.bank.name }}" class="form-control" readonly>
                    {{ form_label(form.accountType,'Account Type:', {'label_attr':{'class': 'mt-3'}}) }}
                    {{ form_widget(form.accountType) }}
                    {{ form_errors(form.accountType) }}
                    {{ form_label(form.transactionDate,'Transaction Date:', {'label_attr':{'class': 'mt-3'}}) }}
                    {{ form_widget(form.transactionDate,{'id':'inputMonth','attr':{'class':'mb-3'}}) }}
                    {{ form_errors(form.transactionDate) }}
                    {{ form_label(form.UploadFile,'Upload File Here:') }}
                    {{ form_widget(form.UploadFile,{'attr':{'class':'form-control','style':'padding-top: 7px !important; padding-bottom: 30px !important;'}}) }}
                    {{ form_help(form.UploadFile,{'help_attr':{'class':'text-secondary'}}) }}
                    {{ form_widget(form.Submit,{'attr':{'class':'btn btn-block btn-info mt-3'},'label':'Upload'}) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        /*.ui-datepicker-calendar{display: none}*/
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}



{#    $('#inputMonth').datepicker({#}
{#    changeMonth: true,#}
{#    changeYear: true,#}
{#    dateFormat: 'MM,yy',#}

{#    onClose: function() {#}
{#    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();#}
{#    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();#}
{#    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));#}
{#    },#}

{#    beforeShow: function() {#}
{#    if ((selDate = $(this).val()).length > 0)#}
{#    {#}
{#    iYear = selDate.substring(selDate.length - 4, selDate.length);#}
{#    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));#}
{#    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));#}
{#    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));#}
{#    }#}
{#    }#}
{#    });#}

    $('#datatable').DataTable( {
    pageLength: 25,
    columnDefs: [ {
    targets: -1,
    orderable: false
    }],
    });
{% endblock %}
