{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Bank statement Upload</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('br_custom_statement_create') }}" id="createForm"  class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'Custom Statement'|trans }}</a>
                        <a href="{{ path('br_bank_statement_list') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Bank Statement'|trans }}</a>
                        <a href="{{ path('br_bank_statement_upload') }}" id="createForm"  class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'Upload Statement'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card p-3">
                <table class="table table-bordered table-striped" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th width="5%" class="text-center">{{ 'S/N'|trans }}</th>
                        <th width="15%">{{ 'Bank Name'|trans }}</th>
                        <th width="25%">{{ 'File Name'|trans }}</th>
                        <th width="10%">{{ 'Type'|trans }}</th>
                        <th width="10%">{{ 'Transaction Date'|trans }}</th>
{#                        <th width="10%">{{ 'Deposit'|trans }}</th>#}
{#                        <th width="10%">{{ 'Reconciliation Amount'|trans }}</th>#}
{#                        <th width="10%">{{ 'Difference Amount'|trans }}</th>#}
{#                        <th width="10%" class="text-center">{{ 'Status'|trans }}</th>#}
{#                        <th width="10%">{{ 'Created Date'|trans }}</th>#}
                        <th width="10%" class="text-center"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if data is defined and data is not empty %}
                        {% for file in data %}
{#                            <tr>#}
{#                                <td></td>#}
{#                                <td></td>#}
{#                                <td>{{ file.fileName }}</td>#}
{#                                <td></td>#}
{#                                <td></td>#}
{#                                <td>{{ file.depositeTotal }}</td>#}
{#                            </tr>#}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td>
                                    <a href="{{ path('br_transaction_download',{id: file.id}) }}">
                                        {{ file.bank.name|capitalize|default('') }}
                                    </a>
                                </td>
{#                                <td>{{ file.bankName|capitalize|default('') }}</td>#}
                                <td><a href="{{ asset('/uploads/reconciliation/' ~ file.fileName) }}" download>{{ file.fileName|default('') }}</a></td>
                                <td>{{ file.accountType|default('') }}</td>
                                <td>{{ file.transactionDate|date('d-m-Y')|default('') }}</td>
{#                                <td></td>#}
{#                                <td></td>#}
{#                                <td></td>#}
{#                                <td class="text-center">{{ file.status > 0 ? 'Yes' : 'No' }}</td>#}
{#                                <td class="text-center">{{ file.createdAt|date('d-m-Y') }}</td>#}
                                <td class="text-right">
                                    <div class="btn-group" role="group">
                                        {% if file.status == 0 %}
                                            <a class="btn btn-mini bg-primary white-font" href="{{ path('br_transaction_import',{id: file.id}) }}"><i class="feather icon-upload"></i> Import</a>
                                        {% endif %}
                                        {% if file.status > 0 %}
                                            {% if file.branchUpdateStatus > 0 %}
                                            <a class="btn btn-mini green-bg white-font" href="{{ path('br_transaction_add_sub_file',{id: file.id}) }}"><i class="fa fa-plus-circle"></i> Add Sub File </a>
                                                {% endif %}

                                            <a class="btn btn-mini purple-bg white-font" href="{{ path('br_transaction_branch_update',{id: file.id}) }}"><i class="feather icon-upload"></i> {% if file.fileName is defined and file.fileName is not empty %} Update Branch {% else %}Sync{% endif %}</a>
                                            {% if file.branchUpdateStatus > 0 or file.fileName is empty  %}
                                                <a class="btn btn-mini orange-bg white-font" href="{{ path('br_transaction_add',{id: file.id}) }}"><i class="fa fa-plus-circle"></i> Add Transaction</a>
                                            {% endif %}

                                        {% endif %}
                                        <a data-action="{{ path('br_file_delete',{id: file.id}) }}" class="btn  btn-transparent btn-mini red-font remove" href="javascript:"><i class="fa fa-remove"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center font-weight-bold">{{ "No record Found!"|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        /*.ui-datepicker-calendar{display: none}*/
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}



    {#    $('#inputMonth').datepicker({#}
    {#    changeMonth: true,#}
    {#    changeYear: true,#}
    {#    dateFormat: 'MM,yy',#}

    {#    onClose: function() {#}
    {#    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();#}
    {#    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();#}
    {#    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));#}
    {#    },#}

    {#    beforeShow: function() {#}
    {#    if ((selDate = $(this).val()).length > 0)#}
    {#    {#}
    {#    iYear = selDate.substring(selDate.length - 4, selDate.length);#}
    {#    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));#}
    {#    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));#}
    {#    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));#}
    {#    }#}
    {#    }#}
    {#    });#}

    $('#datatable').DataTable( {
    pageLength: 25,
    columnDefs: [ {
    targets: -1,
    orderable: false
    }],
    });
{% endblock %}
