{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ "Custom statement Manage"|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Custom statement Manage'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('br_custom_statement_create') }}" id="createForm"  class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'Custom Statement'|trans }}</a>
                            <a href="{{ path('br_bank_statement_list') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Bank Statement'|trans }}</a>
                            <a href="{{ path('br_bank_statement_upload') }}" id="createForm"  class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'Upload Statement'|trans }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Custom statement Manage'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>

                        <div class="portlet-body form">
                            {{ form_start(form, { 'attr' : { 'class': 'form-horizontal' } })}}
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                    <div class="row">
                                        <div class="col-md-9">

                                            <div class="form-group">
                                                {{ form_label(form.bank, 'Bank'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.bank) }}
                                                    {{ form_errors(form.bank) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.accountType, 'Account Type'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.accountType) }}
                                                    {{ form_errors(form.accountType) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.transactionDate, 'Transaction Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> *</span>
                                                    {{ form_widget(form.transactionDate) }}
                                                    {{ form_errors(form.transactionDate) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3"></div>
                                    </div>


                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 ">

                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group">
                                                <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                                {{ form_widget(form.Submit, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>


{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        /*.ui-datepicker-calendar{display: none}*/
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    {#    <script>#}
    $('#datatable').DataTable( {
    pageLength: 25,
    columnDefs: [ {
    targets: -1,
    orderable: false
    }],
    });

{% endblock %}
