{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Reconciliation Range</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
{#                        <a href="/en/br/branch/create" class="btn btn-sm green-bg white-font"><i class="fas fa-plus"></i>Add New</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="card p-3">
                <table class="table table-bordered table-striped" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th width="40" class="text-center">{{ 'S/N'|trans }}</th>
                        <th width="20%" class="text-center">{{ 'Name'|trans }}</th>
                        <th width="20%" class="text-center">{{ 'Start Range'|trans }}</th>
                        <th width="20%" class="text-center">{{ 'End Range'|trans }}</th>
                        <th width="20%" class="text-center">{{ 'Status'|trans }}</th>
                        <th width="20%">{{ 'Created Date'|trans }}</th>
                        <th class="text-center" width="100"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if data is defined and data is not empty %}
                        {% for range in data %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td class="text-center">{{ range.name|default('') }}</td>
                                <td class="text-right">{{ range.startRange|default('') }}</td>
                                <td class="text-right">{{ range.endRange|default('') }}</td>
                                <td class="text-center">{{ range.status > 0 ? 'Yes' : 'No' }}</td>
                                <td class="text-center">{{ range.createdAt|date('d-m-Y') }}</td>
                                <td class="text-right">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-mini yellow-bg white-font" href="{{ path('br_reconciliation_range_update',{id: range.id}) }}"><i class="feather icon-edit"></i> </a>
                                        <a data-action="{{ path('br_reconciliation_range_delete',{id: range.id}) }}" class="btn  btn-transparent btn-mini red-font remove" href="javascript:"><i class="fa fa-remove"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td colspan="6" class="text-center font-weight-bold">{{ "No record Found!"|trans }}</td>
                            </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}

                    {{ form_label(form.name,'Name : ') }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}

                    {{ form_label(form.startRange,'Start Amount Range : ') }}
                    {{ form_widget(form.startRange) }}
                    {{ form_errors(form.startRange) }}
                    {{ form_label(form.endRange,'End Amount Range : ')}}
                    {{ form_widget(form.endRange) }}
                    {{ form_errors(form.endRange) }}

                    {{ form_widget(form.Submit,{'attr':{'class':'btn btn-block btn-info mt-3'},'label':'Save & Create'}) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}

    $('#datatable').DataTable( {
    pageLength: 25,
    columnDefs: [ {
    targets: -1,
    orderable: false
    }],
    });
{% endblock %}
